.header {
    background-color: rgb(110, 109, 109);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
    text-align: center;
}
.header nav {
    margin-right: 320px;
}
.header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
.header nav a:hover {
    color: white;
    text-decoration: underline;
}  
#header_logo {
    width: 200px;
    margin-left: 150px;
    float: left;
}
#home_image {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.white_text_heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: center;
    background-color: black;
    color: white;
}
.heading_text_2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}
p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.image_group1 {
    width: 100%;
    text-align: center;
}
.image_group2 {
    width: 100%;
    text-align: center;
}
#cool_bag_man {
    width: 400px;
    display: inline-block;
}
#family_bag_mask {
    width: 392px;
    display: inline-block;
}
#stylish_bag_man {
    width: 390px;
    display: inline-block;
}
#bag_face_couple {
    width: 400px;
    height: 580px;
    display: inline-block;
}
#cat_bag_mask {
    width: 410px;
    height: 580px;
    display: inline-block;
}
#bag_mask_party {
    width: 370px;
    height: 580px;
    display: inline-block;
}