.header {
    background-color: rgb(110, 109, 109);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 120px;
    text-align: center;
}
.header nav {
    float: right;
    margin-right: 50px;
}
.header nav a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: 450;
}
.header nav a:hover {
    color: white;
    text-decoration: underline;
}
#header_logo {
    width: 200px;
    margin-left: 50px;
    float: left;
}
.header_name {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 35px;
}
#home_image {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.white_text_heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: center;
    background-color: black;
    color: white;
}
.heading_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
}
.body_text {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.image_group1 {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.image_group2 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
#cool_bag_man {
    width: 400px;
    display: inline-block;
}
#family_bag_mask {
    width: 392px;
    display: inline-block;
}
#stylish_bag_man {
    width: 390px;
    display: inline-block;
}
#bag_face_couple {
    width: 400px;
    height: 580px;
    display: inline-block;
}
#cat_bag_mask {
    width: 410px;
    height: 580px;
    display: inline-block;
}
#bag_mask_party {
    width: 370px;
    height: 580px;
    display: inline-block;
}
.page_background {
    background-color: lightgray;
}
.text_background {
    background-color: rgb(168, 168, 168);
    background-size: 0px 100px;
}
#ending {
    margin-bottom: 100px;
}
#team_image {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#oldie_bag_mask {
    width: 700px;
}